.back-button {
  color: #999;
  text-decoration: none;
}

.c-movie-details {
  display: flex;
  margin-top: 32px;

  img {
    margin-right: 32px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }

  &__genres {
    display: flex;
    margin: 8px -4px;

    span {
      margin: 4px;
      background: rgba(255, 255, 255, 0.25);
      padding: 4px 6px;
      color: white;
      font-size: 10px;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }

  &__content {
    padding: 8px 0;
    font-weight: 200;
  }
}
