<a [routerLink]="['/', 'movies']" class="back-button">&lt; Back to list</a>

<div class="c-movie-details">
  <img [src]="movie.poster">

  <div>
    <h1>{{ movie.title }}</h1>

    <p class="c-movie-details__genres">
      <span *ngFor="let genre of movie.genres">{{ genre }}</span>
    </p>

    <p class="c-movie-details__content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ex libero. Nullam ac nunc malesuada, posuere justo eget, feugiat tellus. Proin tristique venenatis eros, vitae convallis ante semper et. Vivamus vel placerat ante. In at nulla quis erat ultrices tempor sit amet ac lectus. Cras nec nulla lectus. Pellentesque sed lorem eget ex dignissim luctus.
      <br><br>
      Aenean sed sollicitudin purus, vel ultrices enim. Suspendisse efficitur, erat at accumsan tempus, mauris lectus tristique velit, non vehicula felis nibh eu leo. Quisque pellentesque ornare sapien, a ullamcorper est viverra eu. Nullam ut luctus urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante lectus, dictum a ligula quis, dignissim feugiat justo. Aenean id eros dapibus, efficitur neque vel, tristique purus. Aenean et vulputate orci. Nunc gravida nibh eget dictum suscipit. Sed arcu augue, vestibulum vitae eleifend tempor, faucibus nec risus. Curabitur a diam lobortis, finibus dolor eget, rhoncus massa. Donec laoreet commodo ipsum eu efficitur. Phasellus viverra, ex eget venenatis pharetra, enim nisl sollicitudin velit, a condimentum nisi lacus pellentesque velit. Nam tincidunt sem in dictum bibendum. Integer eget tempor sapien.
    </p>
  </div>
</div>
