.c-movie-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 265px;
  height: 400px;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  overflow: hidden;

  &__title {
    background: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
    padding: 16px 16px 4px 16px;
    color: white;
    font-size: 24px;
    font-weight: 600;
  }

  &__genres {
    display: flex;
    background: rgba(0, 0, 0, .7);
    padding: 4px 12px 16px 12px;

    span {
      margin: 4px;
      background: rgba(255, 255, 255, 0.25);
      padding: 4px 6px;
      color: white;
      font-size: 10px;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }
}
