<div class="c-movie-list-item" [style.background-image]="'url(' + movie.poster + ')'">
  <p class="c-movie-list-item__title">{{ movie.title }}</p>
  <p class="c-movie-list-item__genres">
    <span *ngFor="let genre of movie.genres">{{ genre }}</span>
  </p>
</div>
